
IO_LOC "phy_rx_clk" 30
IO_LOC "phy_rx_dv"  29
IO_LOC "phy_tx_clk" 27
IO_LOC "phy_tx_en"  28

IO_LOC "phy_mdio"   40
IO_LOC "phy_mdc"    41

IO_LOC "data_from_phy[0]"  141
IO_LOC "data_from_phy[1]"  140
IO_LOC "data_from_phy[2]"  139
IO_LOC "data_from_phy[3]"  138
IO_LOC "data_from_phy[4]"  112
IO_LOC "data_from_phy[5]"  113
IO_LOC "data_from_phy[6]"  110
IO_LOC "data_from_phy[7]"  111

IO_LOC "phy_rxd[0]" 32
IO_LOC "phy_rxd[1]" 33
IO_LOC "phy_rxd[2]" 34
IO_LOC "phy_rxd[3]" 38

IO_LOC "phy_txd[0]" 26
IO_LOC "phy_txd[1]" 25
IO_LOC "phy_txd[2]" 24
IO_LOC "phy_txd[3]" 23



