
//IO_LOC "clk_out" 141;
IO_LOC "phy_reset" 12;
//IO_PORT "clk_out" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[7]" 110;
IO_PORT "data_from_phy[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[6]" 113;
IO_PORT "data_from_phy[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[5]" 112;
IO_PORT "data_from_phy[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[4]" 125;
IO_PORT "data_from_phy[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[3]" 124;
IO_PORT "data_from_phy[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[2]" 138;
IO_PORT "data_from_phy[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[1]" 139;
IO_PORT "data_from_phy[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "data_from_phy[0]" 140;
IO_PORT "data_from_phy[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "phy_mdc" 41;
IO_PORT "phy_mdc" PULL_MODE=NONE DRIVE=8;
IO_LOC "phy_txd[3]" 23;
IO_PORT "phy_txd[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "phy_txd[2]" 24;
IO_PORT "phy_txd[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "phy_txd[1]" 25;
IO_PORT "phy_txd[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "phy_txd[0]" 26;
IO_PORT "phy_txd[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "phy_tx_en" 28;
IO_PORT "phy_tx_en" PULL_MODE=UP DRIVE=8;
IO_LOC "phy_mdio" 40;
IO_PORT "phy_mdio" PULL_MODE=NONE DRIVE=8;
IO_LOC "phy_tx_clk" 27;
IO_PORT "phy_tx_clk" PULL_MODE=UP;
IO_LOC "phy_rxd[3]" 38;
IO_PORT "phy_rxd[3]" PULL_MODE=UP;
IO_LOC "phy_rxd[2]" 34;
IO_PORT "phy_rxd[2]" PULL_MODE=UP;
IO_LOC "phy_rxd[1]" 33;
IO_PORT "phy_rxd[1]" PULL_MODE=UP;
IO_LOC "phy_rxd[0]" 32;
IO_PORT "phy_rxd[0]" PULL_MODE=UP;
IO_LOC "phy_rx_dv" 29;
IO_PORT "phy_rx_dv" PULL_MODE=UP;
IO_LOC "phy_rx_clk" 30;
IO_PORT "phy_rx_clk" PULL_MODE=UP;
IO_LOC "clk" 122;
IO_PORT "clk" PULL_MODE=UP;





